@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --dark-blue: #1E3A8A;
    --light-blue: #3B82F6;
    --light-dark: #374151;
    --light-white: #F3F4F6;
}
.main-login{
    background-color: var(--dark-blue);
}
.color-dark-blue{
    color: var(--dark-blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue) !important;
}
.bg-light-blue{
    background-color: var(--light-blue) !important;
}
.border-light-blue{
    border: 1px solid var(--light-blue) !important;
}
#login-separate::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-dark);
}
#login-separate::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-dark);
}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
}
.nav-link:hover::after{
    width: 100%;
    transition: .3s;
}